<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="css/angular-material.min.css">
</head>
<body>
    <div ng-controller="AppCtrl" layout="column" style="height:500px;">
        <section layout="row" flex>
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Sidenav Left</h1>
                </md-toolbar>
                <md-content layout-padding ng-controller="LeftCtrl">
                    <md-button ng-click="close()" class="md-primary" hide-gt-md>
                        Close Sidenav Left
                    </md-button>
                    <p hide-md show-gt-md>
                        This sidenav is locked open on your device. To go back to the default behavior,
                        narrow your display.
                    </p>
                </md-content>
            </md-sidenav>
            <md-content flex layout-padding>
                <div layout="column" layout-fill layout-align="top center">
                    <p>
                        The left sidenav will 'lock open' on a medium (>=960px wide) device.
                    </p>
                    <p>
                        The right sidenav will focus on a specific child element.
                    </p>
                    <div>
                        <md-button ng-click="toggleLeft()"
                                   class="md-primary" hide-gt-md>
                            Toggle left
                        </md-button>
                    </div>
                    <div>
                        <md-button ng-click="toggleRight()"
                                   class="md-primary">
                            Toggle right
                        </md-button>
                    </div>
                </div>
                <div flex></div>
            </md-content>
            <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
                <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">Sidenav Right</h1>
                </md-toolbar>
                <md-content ng-controller="RightCtrl" layout-padding>
                    <form>
                        <md-input-container>
                            <label for="testInput">Test input</label>
                            <input type="text" id="testInput"
                                   ng-model="data" md-sidenav-focus>
                        </md-input-container>
                    </form>
                    <md-button ng-click="close()" class="md-primary">
                        Close Sidenav Right
                    </md-button>
                </md-content>
            </md-sidenav>
        </section>
    </div>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-material.min.js"></script>
    <script type="text/javascript">
        angular
        .module('MyApp')
        .controller('AppCtrl', function ($scope, $timeout, $mdSidenav, $mdUtil, $log) {

      $scope.toggleLeft = buildToggler('left');
      $scope.toggleRight = buildToggler('right');

      /**
       * Build handler to open/close a SideNav; when animation finishes
       * report completion in console
       */
      function buildToggler(navID) {
          var debounceFn = $mdUtil.debounce(function () {
              $mdSidenav(navID)
                .toggle()
                .then(function () {
                    $log.debug("toggle " + navID + " is done");
                });
          }, 300);

          return debounceFn;
      }

  })
  .controller('LeftCtrl', function ($scope, $timeout, $mdSidenav, $log) {
      $scope.close = function () {
          $mdSidenav('left').close()
            .then(function () {
                $log.debug("close LEFT is done");
            });

      };
  })
  .controller('RightCtrl', function ($scope, $timeout, $mdSidenav, $log) {
      $scope.close = function () {
          $mdSidenav('right').close()
            .then(function () {
                $log.debug("close RIGHT is done");
            });
      };
  });

    </script>
</body>
</html>